---
title: Projects
layout: default
permalink: projects/
---

<h1 style="background-color: #00ffef40;display: inline;">PROJECTS</h1>
<div class=post>
</div>
<br>
What is a Project?
All the problems in the world is a memory problem. I think at this point, I am parochial enough to say that. Every problem is a nail. And MORE MEMORY is the perfect hammer! But anyway, I know that is never true. I nevertheless want to try to understand why I tend to talk very
{% for post in site.posts %}
    {% if post.layout == 'project' %}
        <div class=post>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            {% include post-meta.html %}
        </div>
    {% endif %}
{% endfor %}
