---
title: Projects
layout: default
permalink: projects/
---

<h1 style="background-color: #00ffef40;display: inline;">PROJECTS</h1>
<div class=post>
</div>
<br>
<i>What type of Projects are on this page?</i> I particularly like the idea of 'project' that Visakanv hints at when he describes the skill of 'project management'. Put basically, a project is any longterm endeavour that requires planning and execution to be successful. With a definition that broad, a project can be anything from writing a poem to writing a poetry collection or anything from writing a python script to building Cassandra. Anyway, most of the projects here won't be about poetry but mostly related to software engineering. These projects will be tagged '#coding' <a href="/2021/12/24/anki-as-hook">Anki as Hook</a>
{% for post in site.posts %}
    {% if post.layout == 'project' %}
        <div class=post>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            {% include post-meta.html %}
        </div>
    {% endif %}
{% endfor %}
