<div class=author-info>
    <!-- <img src="{{ site.author_image_path }}" class=author-image /> -->
    <h1 class=author-name>
        <a href="/" > {{ site.author_name }} </a>
    </h1>
    <!-- <div class=nav>
        <a href="{{ site.github_url }}"><i class=icon-github-alt></i></a>
        <a href="{{ site.twitter_url }}"><i class=icon-twitter></i></a>
        <a href="{{ site.linkedin_url }}"><i class=icon-linkedin></a></i>
        <a href="{{ site.feed_url }}"><i class=icon-rss></i></a>
    </div> -->
    <div class=home-nav>
        <ul>
            <li><a href="/essays/"><b>Essays</b></a></li>
            <li><a href="/projects/"><b>Projects</b></a></li>
            <li><a href="/booknotes/"><b>BNs</b></a></li>
            <li><a href="/notes/" style="color:blue;"><b>NB</b></a></li>
            <li>
                <a class=resume-link href="/Caleb_Resume-08-11-2019.pdf">CV</a><br/>
                <span class=resume-update>(Updated Nov. '19)</span>
            </li>
        </ul>
    </div>
</div>
