---
layout: default
title: Notes
permalink: notes/
---
<h1>Notebook</h1>
<i>This is where I develop ideas in public. Ideas I think I generate.</i>
{% for post in site.posts %}
    {% if post.layout == 'note' %}
        <div class=post>
            <h1 class=title><a href="{{ post.url }}">{{ post.title }}</a></h1>
            {% if post.feature %}
            <p class=feature-image>
                <img src="{{ post.feature-image }}"/>
            </p>
            {% endif %}
            <div class=content>
                {{ post.excerpt | markdownify }}
                <a href="{{ post.url }}">...Continue reading</a>
            </div>
            {% include post-meta.html %}
        </div>
    {% endif %}
{% endfor %}
